<section class="row">
  <h4>Create User:</h4>

  <form action="/users" method="POST" >
    <p class="input-field">
      <input type="name" name="name" placeholder="Name">
    </p>
    <p class="input-field">
      <input type="src" name="image" placeholder="Image">
    </p>
    <p class="input-field">
     <a href='/users/new/{{_id}}'><button  class='btn btn-primary'>Sign Up</button></a>
    </p>
  </form>
</section>