body {
    background: black;
    background-image: url("https://www.transparenttextures.com/patterns/diamond-upholstery.png");
    margin: 0 auto;
    padding: 0 auto;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;

}

.row {
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;

}

.btn {
    display: inline;
    padding: 34px;
    margin: 10px;
}

img {
    position: relative;
}

#slide {
    height: 100vh;
    width: 50vw;
}

#scoreBoard {
    text-align: center;
    border: solid;
    margin: 10px;
    padding: 12px;
    
}