{{!-- {{#each ue}}
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{{image}}">
    <div class="card-body">
        <p class="card-text">{{description}}</p>
        <button href='' class='btn btn-danger'>Bad</button>
    </div>
</div>

{{/each}} --}}

<h1>hey from bad index</h1>