<section class="row">
  <h4>Create Bad:</h4>

  <form action="/users/:usersId/bads/{{ba._id}}" method="POST">
    <p class="input-field">
      <input type="name" name="name" placeholder="Name">
    </p>
    <p class="input-field">
      <input type="src" name="image" placeholder="Image">
    </p>
    <p class="input-field">
      <input type="name" name="description" placeholder="Description">
    </p>

    <p class="input-field">
      <a href='/users/{{_id}}/bads/{{ba._id}}'><button id='newBad' class='btn btn-primary'>Sign Up</button></a>
    </p>
  </form>
</section>