<section class="row">
  <h4>Create Bad:</h4>
  <form action="/users/{{id}}/bads" method="POST">
    <p class="input-field">
      <input type="name" name="name" placeholder="Name">
    </p>
    <p class="input-field">
      <input type="src" name="image" placeholder="Image">
    </p>
    <p class="input-field">
      <input type="name" name="description" placeholder="Description">
    </p>

    <p class="input-field">
      <button type="submit" id='newBad' class='btn btn-primary'>Generate New Bad</button>

    </p>
  </form>
</section>