
<div class="card border-info mb-3" style="max-width: 18rem;">
    <div class="card-header">If this is your user then click button</div>
    <div class="card-body text-info">
       <a href='/users/{{_id}}'><button class='btn btn-primary'>Find Your User</button></a>
    </div>
</div>
