<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div id='slide' class="carousel-item active">
            <img class="d-block w-100" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQtXJ2w8lC-IwVK-40DMLqxrarMDURPjAhtDgWsDbadOWXs-_0S"
                alt="First slide">
        </div>
        <div id='slide' class="carousel-item">
            <img class="d-block w-100" src="https://d1w7fb2mkkr3kw.cloudfront.net/assets/images/book/lrg/9781/4521/9781452106687.jpg"
                alt="Second slide">
        </div>
        <div id='slide' class="carousel-item">
            <img class="d-block w-100" src="http://images.clipartpanda.com/humanity-clipart-kTKn458Tj.png" alt="Third slide">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<div class="card border-info mb-3" style="max-width: 18rem;">
    <div class="card-header">To enter you must find your user</div>
    <div class="card-body text-info">
        <a href='/users/{{_id}}'><button class='btn btn-primary'>Find Your User</button></a>
    </div>
</div>