<section class="row">
  <h4>Create Good:</h4>

  <form action="/users" method="POST" >
    <p class="input-field">
      <input type="name" name="name" placeholder="Name">
    </p>
    <p class="input-field">
      <input type="src" name="image" placeholder="Image">
    </p>
       <p class="input-field">
      <input type="name" name="description" placeholder="Description">
    </p>
    <p class="input-field">
     <button href='/users/{{_id}}/goods/{{_id}}' class='btn btn-primary'>Generate New Good</button>
    </p>
  </form>
</section>